body {
    background: radial-gradient(circle, #00b4d8, #0077b6);
    text-align: center;
    font-family: "Lexend", Helvetica;
}

.nadpis {
    max-width: 800px;
    color: white;
    margin: auto;
    padding: 50px 0 50px 0;
}

h2 {
    margin: 50px 0 0 0;
    color: white;
}

.kalkulackaT {
    margin: 20px 0 0 0;
    padding: 10px 0 10px 0;
    font-size: 30px;
}

#zadaniT, #jednotkyT, #seRovnaT, #vysledek, #jednotkyVysledekT {
    background-color: #90e0ef;
    color: #03045e;
    height: 95px;
    width: 120px;
    text-align: center;
    font-family: "Lexend", Helvetica;
    font-size: 30px;
    border-radius: 20%;
}
